<main class='contenedor contenedor-formularios no-padding'>
    <h1><%= nombrePagina %></h1>
    <form class='default-form' method='POST'  >
        <legend>¿Deseas Eliminar? Luego de eliminado No se puede recuperar</legend>
        <div class='acciones contenedor-botones'>
               <a href="/administracion" class= 'btn btn-azul'>Volver</a>
               <input type= 'submit' value = "Eliminar"  class= 'btn btn-rosa'> </input>
        </div>
    </form>
</main>
