<main class="contenedor contenedor-formularios">
    <h1> <%= nombrePagina %> </h1>
    <form class="default-form"  method='POST'>
        <div class="campo">
            <label>Email</label>
            <input type='email' name='email' placeholder='Ej: correo@correo.com' >
        </div>
        <div class="campo">
            <label>Password</label>
            <input type='password' name='password' placeholder='Contraseña' >
        </div>
        <div class="campo enviar">
               <input type= 'submit' value ='Iniciar Sesion' class= 'btn btn-rosa'> </input>
        </div>
    </form> 
</main>