<h1 style= "
    text-align: center;
    font-family: Arial, Helvetica;">
    Confirma tu Cuenta</h1>
<p style= "font-family: Arial, Helvetica;">Ingresa Para activar tu cuenta</p>
<a style= "font-family: Arial, Helvetica;
            display: block;
            padding: 1rem;
            background-color: #00c897;
            color: white;
            text-transform: upercase;
            text-align:center;
            text-decoration: none;
" href="<%- url %>">Activar Cuenta</a>

<p style= "font-family: Arial, Helvetica;" >En caso de no poder acceder ingresa al isguiente link  <%= url %></p>